.categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 10px 0;
}

.category {
  background-color: #1a1a1b;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px 3px;
}

.categories button {
  background-color: #1a1a1b;
  color: #d8d6d6;
  margin: 5px 3px;
}

#subreddit-submit {
  background-color: #1a1a1b;
  color: #fff;
  padding: 10px 10px;
  font-size: 0.8rem;
}

#subreddit-search {
  margin: 2px 5px;
  border-radius: 5px;
  border: 1px solid #1a1a1b;
  padding: 8px 5px;
  font-size: 0.75rem;
  background-color: #1a1a1b;
  color: #fff;
}

#limit {
  background-color: #1a1a1b;
  width: 60px;
  padding: 8px 10px;
  font-size: 0.75rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-right: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  form input {
    margin: 0;
    font-size: 0.6rem;
  }
  h1 {
    font-size: 1.35rem;
  }
  h2 {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  #subreddit-search {
    width: 130px;
    padding: 8px 5px;
  }
}

@media only screen and (max-width: 480px) {
  form input {
    margin: 0;
  }

  .category {
    margin: 1px;
    border-radius: 5px;
  }

  .categories button {
    padding: 5px;
    font-size: 0.6rem;
  }

  #limit {
    font-size: 0.6rem;
    padding: 8px;
    width: 50px;
    height: 30px;
  }

  #subreddit-search {
    width: 90px;
    padding: 8px 3px;
  }

  #subreddit-submit {
    padding: 8px 4px;
    border-radius: 5px;
    font-size: 0.75rem;
  }

  .search-form label {
    font-size: 0.7rem;
  }
}
