.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-bottom: 8px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 8px;
}

.category {
  background-color: #334155;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 2px;
}

.categories button:hover {
  color: #fff;
}

.categories button {
  background-color: #334155;
  color: #d8d6d6;
}

#subreddit-submit {
  background-color: #334155;
  color: #d8d6d6;
  padding: 8px;
  font-size: 0.8rem;
}

#subreddit-submit:hover {
  color: #fff;
}

#subreddit-search {
  border-radius: 4px;
  border: none;
  padding: 8px 4px;
  font-size: 0.75rem;
  background-color: #334155;
  color: #fff;
}

#limit {
  background-color: #334155;
  width: 60px;
  padding: 8px;
  font-size: 0.75rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  form input {
    font-size: 0.6rem;
  }
  h1 {
    font-size: 1.35rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  #subreddit-search {
    width: 130px;
    padding: 8px 4px;
  }
}

@media only screen and (max-width: 480px) {
  .categories button {
    padding: 6px;
    font-size: 0.75rem;
  }

  #limit {
    font-size: 0.6rem;
    padding: 8px;
    width: 50px;
    height: 30px;
  }

  #subreddit-search {
    width: 90px;
    padding: 8px 4px;
  }

  #subreddit-submit {
    padding: 8px 4px;
    border-radius: 4px;
    font-size: 0.75rem;
  }

  .search-form label {
    font-size: 0.7rem;
  }
}
