.post-card {
  background-color: #334155;
  border-radius: 4px;
  padding: 8px;
  min-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8px;
}

.thumbnail {
  width: 140px;
  height: 140px;
  border-radius: 4px;
  object-fit: contain;
}

.post-card span {
  font-size: 0.85rem;
}

@media only screen and (max-width: 768px) {
  .thumbnail {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 576px) {
  .thumbnail {
    width: 70px;
    height: 70px;
  }

  .post-card span {
    font-size: 0.65rem;
  }
}

@media only screen and (max-width: 480px) {
  .thumbnail {
    display: none;
  }
  .post-card span {
    font-size: 0.65rem;
  }
}
