.post-card {
  background-color: #1a1a1b;
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px 10px 10px;
  border: 1px solid #1a1a1b;
  box-shadow: 0px 4px 10px rgba(133, 133, 133, 0.1);
  min-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumbnail {
  width: 140px;
  height: 140px;
  margin: 20px 5px 0 0;
  border-radius: 10px;
  object-fit: contain;
}

.post-card span {
  font-size: 0.85rem;
}

@media only screen and (max-width: 768px) {
  .thumbnail {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 576px) {
  .thumbnail {
    width: 70px;
    height: 70px;
  }

  .post-card span {
    font-size: 0.65rem;
  }
}

@media only screen and (max-width: 480px) {
  .thumbnail {
    display: none;
  }
  .post-card span {
    font-size: 0.65rem;
  }
}
