.post-body p {
  font-size: 1.1rem;
  color: #ffffff;
  margin: 8px;
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.show-text-button {
  background-color: transparent;
  color: #dbdbdb;
  display: flex;
  padding: 0 8px;
}

.show-text-button:hover {
  color: #fff;
}

video {
  width: 500px;
  height: 300px;
  border-radius: 4px;
}

.content-image {
  padding: 8px;
  border-radius: 4px;
  max-width: 90%;
}

.gallery-button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 2rem;
}

.external-link {
  text-decoration: none;
  color: #fff;
  font-style: italic;
  padding: 16px 8px;
  align-self: flex-start;
  max-width: 30ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (max-width: 1200px) {
  .content-image {
    max-height: 70vh;
  }

  .image-url {
    max-width: 70%;
  }

  .post-body p {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
}

@media only screen and (max-width: 768px) {
  video {
    width: 300px;
    height: 200px;
  }

  .content-image {
    max-width: 90%;
  }

  .post-body p {
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }

  .external-link {
    font-size: 0.8rem;
  }

  .gallery-button {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 576px) {
  video {
    width: 250px;
    height: 150px;
  }

  .content-image {
    max-width: 90%;
  }

  .post-body p {
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }

  .external-link {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 480px) {
  video {
    width: 200px;
    height: 150px;
  }

  .content-image {
    width: 200px;
    height: 150px;
  }

  .post-body p {
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }

  .external-link {
    font-size: 0.8rem;
  }
}
