.post-title {
  margin: 20px 10px 0 10px;
  color: #ffffff;
  font-weight: bold;
}

.post-title:hover {
  color: #d3d3d3;
}

.post-link {
  transition: ease-in-out 0.12s;
  text-decoration: none;
}

.post-link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 480px) {
  .post-header {
    height: auto;
  }
  .post-header h2 {
    margin-top: 5px;
  }
}
