.post-title {
  padding: 0 8px;
  color: #ffffff;
  font-weight: bold;
}

.post-link {
  padding: 24px 0;
  text-decoration: none;
}

.post-link:hover {
  text-decoration: underline;
  color: #fff;
}
