body {
  font-family: "Roboto", sans-serif;
  background-color: #1a1a1b;
  color: #d7dadc;
}

form {
  margin: 10px;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  /* justify-content: center;
  align-items: center; */
}

.post {
  width: 50%;
  margin: 10px;
  /* border: 1px solid #3e4446;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.post-link {
  text-decoration: none;
  color: #d7dadc;
  margin: 0px;
  font-weight: bold;
}

.post-link:before {
  content: "🚀";
  margin-right: 5px;
}

.post-details {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  color: #888;
}

.post-details p {
  margin: 0px 15px 0px 0px;
  padding: 0px;
}

.post-details p:first-child {
  margin-left: 24px;
}

#subreddit-search {
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #3e4446;
  padding: 5px;
}

#subreddit-submit {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #3e4446;
  background-color: #3e4446;
  color: #fff;
}

.subreddit-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px;
}
