body {
  font-family: "Montserrat", sans-serif;
  background-color: #030303;
  color: #d7dadc;
  margin: 0 auto;
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  border-radius: 10px;
  padding: 7px 10px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: ease-in-out 0.12s;
}

@media only screen and (max-width: 1200px) {
  body {
    max-width: 90%;
  }
}
